@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #111111;
  overflow-x: hidden;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: rgba(108, 84, 255, 0.5) !important;
}